.table-responsive
  %table.table
    %thead
      %tr
        %th Name
        %th First&nbsp;Used
        %th Last&nbsp;Used
        %th Counter

    %tbody
      - @user_agents.each do |user_agent|
        %tr
          %td= user_agent.name
          %td= format_date(user_agent.created_at)
          %td= format_date(user_agent.updated_at)
          %td.text-right
            .badge.badge-primary= user_agent.counter
