%nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
  .container
    = link_to 'Code Challenge', root_path, class: 'navbar-brand'
    %button.navbar-toggler{'aria-controls' => 'navbarDesktop',
                           'aria-expanded' => 'false',
                           'aria-label' => 'Toggle navigation',
                           'data-target' => '#navbarDesktop',
                           'data-toggle' => 'collapse',
                           type: 'button'}
      %span.navbar-toggler-icon
    #navbarDesktop.collapse.navbar-collapse
      %ul.navbar-nav.ml-auto
        %li.nav-item= link_to 'User Agents', user_agents_path, class: 'nav-link'
